.App {
  text-align: center;
}

h1{
  font-family: 'Bigelow Rules';
  font-size: 72px;
  /* color: #0ccac4; */
  color: rgb(245, 98, 0);
}

 /* "homepage": "https://AnaLinsDev.github.io/monsters-roledex-reactjs",

 "predeploy": "npm run build",
 "deploy": "gh-pages -d build" */
